extends ./layout.pug

block title
    | 강의 등록 

block content
    form#create-lecture(method='post')
        p
            label(for='name') 강의명
            br
            input(type='text', name='name')
        p
            input(type='submit', value='강의 등록')