doctype html
html
    head
        title
            block title
        meta(charset='utf-8')
        meta(name='viewport',
            content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/style.css')
    body
        #header
            if !user
                a.button(href='/') 메인
                | /
                a.button(href='/auth/sign_in') 로그인
                | /
                a.button(href='/auth/sign_up') 회원가입
            else
                | 안녕하세요, <b>#{user.name}</b>님. 
                a.button(href='/auth/sign_out') 로그아웃
                | /
                a.button(href='/lectures') 강의 목록
                if user.role == 0
                    | /
                    a.button(href='/create_lecture') 강의 등록
        #content
            block content